extends javascript

snippet rc "create react typescript component" b
import React from 'react';

interface ${1:name}Props {
}

export const ${1:name}: React.FC<${1:name}Props> = ({}) => {
	return (
	);
}
endsnippet
